.button {
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 0.5rem;
  cursor: pointer;
}

.item {
  margin: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}
